<% if current_page?(root_path) %>
   <h2>Home Page</h2>
   <% @blogs.each do |blog| %>
   <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><%= blog.title.titleize %></h1>
        <p class="lead"><%= blog.content %></p>
        <hr class="my-4">
        <p>posted on : <%= blog.created_at.strftime("%B %d, %Y") %></p>
        <p class="lead">
           <%= link_to "Show", blog_path(blog), class:"btn btn-primary btn-sm" %></a>
           <%= link_to "Edit", edit_blog_path(blog), class:"btn btn-success btn-sm" %></a>
           <%= link_to "Delete", blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></a>
        </p>
    </div>
   </div>
   <% end %> 
<% else %> 
<%= render "form" %>
<% end %>