<%= @blog.title %>

<div class="container">
<h2>Add Comments:</h2>
<%= form_for([@blog, @blog.comments.build ]) do |form| %>

<p>
    <%= form.label :commenter, class: "col-md-4 control-label" %><br>
    <%= form.text_field :commenter, class: "form-control" %>
  </p>
  <p>
    <%= form.label :comment_text, class: "col-md-4 control-label" %><br>
    <%= form.text_area :comment_text, class: "form-control" %>
  </p>
  <p>
    <%= form.submit "Submit", class: "btn btn-default btn-outline-primary" %>
  </p>
</div>
<% end %>