<div class="container mt-4 w-75">
  <div class="jumbotron">
    <h1 class="display-4"><%= @blog.title %></h1>
    <p class="lead"><%= @blog.content %></p>
    <hr class="my-4">
    <p>posted on : <%= @blog.created_at.strftime("%B %d, %Y") %></p>
    <p class="lead">
      <%= link_to "Edit",  edit_blog_path(@blog), class:"btn btn-success btn-sm" %></a>
      <%= link_to "Delete", blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></a>
    </p>
  </div>

  <% if @blog.comments.present? %>
    <div class="card mb-4" style="width: 100%;">
      <div class="card-body">
        <% @blog.comments.limit(3).each do |comment| %>
          <h5 class="card-title"><%= comment.commenter %></h5>
          <p class="card-text"><%= comment.comment_text %></p>
          <p>posted on : <%= comment.created_at.strftime("%B %d, %Y") %></p>
          <p class="lead">
            <%= link_to "Edit",  edit_blog_comment_path(@blog, comment), class:"btn btn-success btn-sm" %></a>
            <%= link_to "Delete", blog_comment_path(@blog, comment), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></a>
          </p>
          <hr class="my-4">
        <% end %>
      </div>
   </div>
  <%end %>
  <h2>Add Comment</h2>
  <%= render 'comments/form'%>
</div>